footer{
    position: fixed;
    margin-top: 140px;
    width: 100%;
    height: 200px;
}

.modal-dialog1 {
    max-width: 900px;
    margin: 1.75rem auto;
}

.nav-color {
    background-color: #36d278;
    color: white;
    
}
